{% comment %} Gradient BG {% endcomment %}

.animated-gradient {
    background: repeating-linear-gradient(to right, red 0%, blue 50%, red 100%);
    width: 100%;
    background-size: 200% auto;
    background-position: 0 100%;
    animation: gradient 2s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
  
  @keyframes gradient { 
    0%   { background-position: 0 0; }
    100% { background-position: -200% 0; }
}





{% comment %} Card Animation {% endcomment %}

.card
{
    aspect-ratio: 5 / 7;
    background-color: rgba(255, 255, 255, 0.05);
}

.big-card
{
    width: 30vmin;
    broder-radius: 1vmin;
}

.small-card
{
    width: 12vmin; 
    border-radius: 2vmin;
}