{% extends '@base.html' %}

{% block content %}
    <div class="group-card">

        <div class="big-card card">
        
        </div>

        <div class="big-card card">
        
        </div>

        <div class="big-card card">
        
        </div>

        <div class="big-card card">
        
        </div>

        <div class="small-card card">
        
        </div>

        <div class="small-card card">
        
        </div>

        <div class="small-card card">
        
        </div>

        <div class="small-card card">
        
        </div>

    </div>
{% endblock content %}