body
{
    hieght: 100vh;
    display: grid;
    place-grid: center;
}
.card-group,
.card
{
    aspect-ratio: 5 / 7;
}

.card-group,
.big-card
{
    width:30vimn;
}

.card
{
    aspect-ratio: 5 / 7;
    background-color: rgba(255, 255, 255, 0.05);
    position: absolute;
}

.big-card
{
    width: 30vmin;
    broder-radius: 1vmin;
}

.small-card
{
    width: 12vmin; 
    border-radius: 2vmin;
}



